{
  "wait_after_feeder_fix_ms": 500,
  "wait_after_feeder_release_ms": 500,
  "wait_after_bender_fix_ms": 500,
  "wait_after_bender_release_ms": 500,
  "wait_after_bending_ms": 500,
  "bender_axis_position": 0.0,
  "feeder_parking_position": 0.0,
  "feeder_axis_length": 475.0,
  "bender_max_deg": 190.0,
  "bend_diametr": 13.9,
  "sagging_cable_length": 150.0,
  "cable_diameter": 0.0,
  "start_length": 19.5
}